.holder {
	width : 600px;
	background-color : skyblue;
	display : flex;
	flex-wrap : wrap;
	justify-content : space-between;
	flex-direction : row-reverse;
}
.d1 {
	height :100px;
	width :90px;
	background-color : pink;
	border : 2px solid black;
}